@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Cégep Saint-Jean-sur-Richelieu<br />
    30 Boulevard du Séminaire N,<br />
    Saint-Jean-sur-Richelieu,<br />
    QC J3B 5J4<br />
    Téléphone : 450 347-5301
</address>

<address>
    <strong>Support :</strong> <a href="mailto:1569817@cstjean.qc.ca">1569817@cstjean.qc.ca</a><br />
    <strong>Marketing :</strong> <a href="mailto:1459644@cstjean.qc.ca">1459644@cstjean.qc.ca</a>
</address>
