@model IEnumerable<TP2_ASP.Models.SendViewModels.SendViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<!--/.Carousel Wrapper-->
<!-- Page Content -->
@if (User.Identity.IsAuthenticated)
{
    <br>
    <section id="portfolio">
        <div class="container">
            <h2>Aperçu du compte</h2>
            <div class="row justify-content-center">
                <div class="col-md-2">
                    @User.Identity.Name
                </div>
                <div class="col-md-2">
                    Télécopies utilisé : @Model.Count()
                </div>
                <div class="col-md-2">
                    Télécopies restante : 
                </div>
            </div>
            <h2>5 dernières télécopies</h2>
            <div class="col-md-8 col-8">
                <div class="row">
                    @foreach (var telecopie in Model.TakeLast(5))
                    {
                        <ul>
                            <li>Envoyé à @telecopie.Nom</li>
                            @telecopie.Fichier
                        </ul>
                    }

                </div>
            </div>

    </section>
}
else
{
    <div id="carousel-thumb" class="carousel carousel-fade carousel-fade carousel-thumbnails" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/Galaxy.jpg" alt="First slide">
                <div class="gradient"></div>
                <div class="carousel-caption">
                    <h1>Bienvenue à la compagnie StarFax</h1>
                    <p class="lead">La compagnie numéro 1 dans l'envoi de fax intergalactique</p>
                </div>
            </div>
        </div>
    </div>

}