@model TP2_ASP.Models.SendViewModels.SendViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Envoie</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="OnPostAddTask" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NuméroTelecopieur" class="control-label"></label>
                <input asp-for="NuméroTelecopieur" class="form-control" />
                <span asp-validation-for="NuméroTelecopieur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Ajouter une image:</p>
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
